<GridLayout>
  <MapView [latitude]="caremaLocation?.latitude" [longitude]="caremaLocation?.longitude" zoom="15" bearing="0" tilt="0" padding="0" (mapReady)="onMapReady($event)"></MapView>

  <AbsoluteLayout>
    <GridLayout columns="*, *, *, *"  top="5" left="5">
      <Button col="0" class="toolbar-buttons save" text="記住這裡" (tap)="rememberHere()"></Button>
      <Button col="1" class="toolbar-buttons focus" [ngClass]="{none: viewMode !== 'me'}" *ngIf="hasSelectedLocation()" text="我的位置" (tap)="viewMode = 'me'"></Button>
      <Button col="2" class="toolbar-buttons focus" [ngClass]="{none: viewMode !== 'saved'}" *ngIf="hasSelectedLocation()" text="紀錄的位置" (tap)="viewMode = 'saved'"></Button>
      <Button col="3" class="toolbar-buttons focus direction" *ngIf="hasSelectedLocation()" text="導航" (tap)="direction()"></Button>
    </GridLayout>
  </AbsoluteLayout>
</GridLayout>
